<template>
  <div class="nav">
    <p>Music Player</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

<style lang="scss" scoped>
.nav {
  display: block;
  height: 60px;
  text-align: center;

  p {
    color: orange;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
}
</style>
