<template>
  <div class="d-flex flex-row appbar--wrapper align-items-center">
    <template>
      <router-link
        v-for="(button ,index) in buttons" :key="index"
        :to="button.to"
      >
      <b-btn class="btn--image" :style="{'background-image' : 'url('+'/images/' + button.img+ ')'}">

        </b-btn>
      </router-link>
    </template>
  </div>
</template>

<script>
  export default {
    name: "AppBar",
    data() {
      return {
        buttons: [
          {to: '/', img: 'home.svg'},
          {to: '/', img: 'search.svg'},
          {to: '/', img: 'library.svg'},
          {to: '/', img: 'user.svg'}
        ]
      }
    }
  }
</script>

<style scoped>

  .appbar--wrapper {
    position : sticky;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1A1C;
    height: 100px;
    justify-content: space-evenly;
  }
  .btn--image {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent !important;
    outline: none;
    border: none;
    padding: 0;
    background-size: contain;
  }
</style>
