<template>
  <div class="card" @hover="">
    <b-card
      img-alt="Image"
      img-top
      bg-variant="default"
      class="mb-2 text-center channelItemContainer"
    >
      <b-card-img :src="data.coverImage" alt="Image" class="rounded-img">
      </b-card-img>
      <div class="d-flex flex-row-reverse justify-content-between">

        <span class="d-block pr-1 mt-2 mr-0">
          {{data.name}}
        </span>
        <span class="verticalMenu pr-1 mt-2 mr-0">
          ...
        </span>

      </div>

    </b-card>
  </div>
</template>

<script>
  export default {
    name: 'ChannelItem',
    props: {
      data: {
        required: true,
      }
    }
  }
</script>

<style scoped>
  .verticalMenu {
    transform: rotate(90deg);
    display : none;
  }

  .card:hover > .channelItemContainer .verticalMenu {
    display : block;
  }
  .card:hover{
    border-bottom: 3px solid #FF2153;
    cursor: pointer;
  }

  .card {
    border-radius: 0;
    box-sizing: border-box;
    border-bottom: 5px solid transparent;
    margin-bottom : 20px;
    background    : transparent;
    width         : 200px;
    text-align    : center;
  }

  .channelItemContainer {
    border : none !important;
  }

  ::v-deep .rounded-img {
    border-radius : 10px !important;
    width         : 200px;
    height        : 200px;
  }

  .card-like-top {
    display  : block;
    position : absolute;
    left     : 10px;
    top      : 10px;
  }

  ::v-deep .card-body {
    padding          : 0;
    background-color : #1A1A1C;
    color            : white;
  }
</style>
