<template>
  <div class="wrapper--music">
    <img class="music--img-size" :src="data.coverImage" />
    <div class="text--items-right">
      <span class="music--name-bold">{{data.name}}</span>
      <span class="artist--name-tiny">رضا پیشرو</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "nuxt-property-decorator";
import { Music } from "../../models/MusicModel";
@Component({
})
export default class MusicItem extends Vue {

@Prop({
  required: true,
  type: Object
}) data: any;
}
// export default Vue.extend({});
</script>

<style lang="scss" scoped>
.wrapper--music {
  display: flex;
  width: fit-content;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 10px ;
  img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 200px;
    max-width: 250px;
    height: 150px;
    max-height: 160px;
  }
  .text--items-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    .music--name-bold {
      text-align: right;
      font-weight: bold;
      font-size: 12px;
    }

    .artist--name-tiny {
      text-align: right;
      font-size: 10px;
      font-weight: 100;
    }
  }
}
</style>
