<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      img-width="100%"
      :no-touch="false"
      img-height="307"
      style="text-shadow: 1px 1px 2px #333; border-radius: 40px !important;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <slot></slot>
    </b-carousel>
  </div>
</template>

<script>
import { CarouselPlugin } from "bootstrap-vue";
export default {
  data() {
    return {
      slide: 0,
      sliding: null
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    }
  }
};
</script>

<style lang="scss" scoped>
::v-deep .carousel-inner {
  border-radius: 20px !important;
}

::v-deep .carousel-caption {
  position: absolute;
  text-align: left;
  left: 10px;
  bottom: -10px;
  h3,
  p,
  img{
    font-size: 11px !important;
    border-radius: 10px;
    display: inline-block !important;
    margin-right: 3px;
  }
}
</style>
