<template>
  <b-row align-h="end" class="listContainer__row ">
    <b-col class="p-0 justify-content-center d-flex" v-for="(item,index) in items" :key="index" cols="6" md="3" lg="2">
      <component :is="type" :data="item" ></component>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import "~/node_modules/swiper/swiper-bundle.min.css";
  import Vue from "vue";

  import ArtistItem from "~/components/artists/ArtistItem.vue";
  import MusicItem from '~/components/music/MusicItem.vue';
  import ChannelItem from '~/components/channel/ChannelItem.vue';
  export default Vue.extend({
    props : {
      items : {
        required : true,
      },
      type: {
        required: true,
      }
    },
    components: {
      ChannelItem,
      ArtistItem,
      MusicItem
    }
  });
</script>

<style lang="scss" scoped>
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: start;
    align-content: center;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
  }

  .listContainer__row {
    margin: 0 auto;
    // width: 100%;
    // margin-right: 10px;
  }

</style>
