@import "./YekanBakh.css";

* {
  margin          : 0;
  padding         : 0;
  box-sizing      : border-box;
  color           : #F6E9E9;
  font-family     : YekanBakh, Tahoma, Arial, sans-serif !important;
  scroll-behavior : smooth;
}
