@font-face {
  font-family:YekanBakh;
  src:url(./fonts/Yekan_Bakh_Fa_Light.eot) format("eot"),
  url(./fonts/Yekan_Bakh_Fa_Light.woff) format("woff"),
  url(./fonts/Yekan_Bakh_Fa_Light.ttf) format("truetype");
  font-weight:300;
  font-style:normal
}
@font-face {
  font-family:YekanBakh;
  src:url(./fonts/Yekan_Bakh_Fa_Regular.eot) format("eot"),
  url(./fonts/Yekan_Bakh_Fa_Regular.woff) format("woff"),
  url(./fonts/Yekan_Bakh_Fa_Regular.ttf) format("truetype");
  font-weight:500;
  font-style:normal
}
@font-face {
  font-family:YekanBakh;
  src:url(./fonts/Yekan_Bakh_Fa_Bold.eot) format("eot"),
  url(./fonts/Yekan_Bakh_Fa_Bold.woff) format("woff"),
url(./fonts/Yekan_Bakh_Fa_Bold.ttf) format("truetype");
  font-weight:900;
}
@font-face {
  font-family:YekanBakh;
  src:url(./fonts/Yekan_Bakh_Fa_Heavy.eot) format("eot"),
  url(./fonts/Yekan_Bakh_Fa_Heavy.woff) format("woff"),
url(./fonts/Yekan_Bakh_Fa_Heavy.ttf) format("truetype");
  font-weight:bold;
}
