<template>
  <div class="wrapper--artist">
    <img :src="data.avatar"/>
    <p>{{data.name}}</p>
  </div>
</template>

<script lang="ts">

  import {Vue ,Prop, Component} from 'nuxt-property-decorator'

  @Component
  export default class ArtistItem extends Vue {
    @Prop({ required: true }) data : any;
  }
</script>

<style lang="scss" scoped>
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  p {
    color: white;
  }

  .wrapper--artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
