<template>
  <div>
    <div class="carousel">
      <main-carousel>
        <b-carousel-slide
          v-for="i in 9"
          :key="i"
          text="salam1 "
          caption-html="salam2 <img src='/images/dot.svg' /> "
          class="slider-item-radius"
          img-src="https://picsum.photos/1024/480/?image=52"
        ></b-carousel-slide>
      </main-carousel>
    </div>

    <div class="list--width channel--list">
      <list-container :items="channelList" type="channel-item"></list-container>
    </div>

    <div class="list--width">
      <list-container :items="artistList" type="ArtistItem">
      </list-container>
    </div>

    <div class="list--width music--list">
      <list-container :items="muiscList" type="music-item"></list-container>
    </div>
  </div>
</template>

<script lang="ts">
  import MainCarousel from "~/components/carousel/MainCarousel.vue";
  import ListContainer from "~/components/list/ListContainer.vue"
  import { Vue, Component, namespace } from 'nuxt-property-decorator'
  import {Channel} from "~/models/ChannelModel";
  import {Artist} from "~/models/ArtistModel";
  import ChannelModel = Channel.Model;
  import ArtistModel = Artist.Model;
import { Music } from "../models/MusicModel";
  const channelModule =  namespace('ChannelModule');
  const musicModule = namespace("MusicModule");
  const artistModule =  namespace('ArtistModule');

  @Component(
    {
      components: {
        MainCarousel,
        ListContainer
      }
    }
  )

  export default class Index extends Vue {

    @channelModule.State
    public channels! : Object;
    @channelModule.Getter
    public channelList!: () => ChannelModel[];
    @channelModule.Action
    public getChannels!: () => void;

    @artistModule.State
    public artists! : Object;

    @channelModule.Mutation
    public setChannels!: (data: ChannelModel[]) => void;

    @artistModule.Mutation
    public setArtists!: (data: ArtistModel[]) => void;


    @artistModule.Action
    public getArtists! : () => void;

    @artistModule.Getter
    public artistList! : () => ArtistModel[];

    async fetch(){
      await this.getChannels();
    await this.getMusics();
      await this.getArtists();
    }

  //music state
  @musicModule.Mutation
  public setMusics!: (data: Music.Model[]) => void;

  @musicModule.Action
  public getMusics!: () => void;

  @musicModule.Getter
  public muiscList!: () => Music.Model[];

}
</script>

<style scoped>
* {
  color: white;
}

.carousel,
.list--width {
  width: 90%;
  margin: 10px auto;
}
</style>
